.minav{
    color:white;
}

#parrafo{
    background-color: lightblue;
    border: 2px solid black;
}

#midrop{
    cursor: pointer;
    border: 1px solid gray;
    display: none;
}


